body {
    background-color: rgb(62, 107, 107);
    background-repeat: no-repeat;
    background-size: cover;
}

.city {
    position: absolute;
    left: 50vw;
    top:50vh;
    width: 400px;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 400px;
    /* height: 20px; */
    border-radius: 3px;
    text-align: center;
    font-size: x-large;
}

.tempcard {
    position: absolute;
    left: 50vw;
    top: 15vh;
    transform: translate(-50%);
}

.maxcard {
    position: absolute;
    left: 25vw;
    top: 20vh;
    transform: translate(-50%);
}

.mincard {
    position: absolute;
    left: 75vw;
    top: 20vh;
    transform: translate(-50%);
}

.forecastcard {
    position: absolute;
    left: 35vw;
    top: 68vh;
    transform: translate(-50%);
}

.humiditycard {
    position: absolute;
    right: 35vw;
    top: 68vh;
    transform: translate(50%);
}